*{
  margin: 0;
  border: 0;
  padding: 0;
  transition: all .5s ease;
  box-sizing: border-box;
  /* outline: solid 1px red; */
}
.one{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background: teal;
}
.hive{
  width: 95%;
  text-align: justify;
/*  background-color: rgba(150,0,150,0.2);  */
  display: inline-block;
}

.hive:after{
content: '';
width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
display: inline-block;
}

.bee{
  position: relative;
  display: inline-block;
  min-width: 250px;
  background-color: brown;
  text-align: center;
  margin: 10px 5px;
  padding: 10px 0;
}


@media screen and (max-width: 680px) {
  .hive{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}
