/*font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Reset*/
*{
  margin: 0;
  border: 0;
  padding: 0;
  transition: all 1s ease;
  /* outline: solid 1px red; */
}
/* Global */
body{
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  background: ghostwhite;
}
p{
  font-size: .95em;
  margin-bottom: 10px;
}
h1{
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
h2{
  font-size: 1.4em;
}
h3{
  font-size: 1.2em;
  margin-bottom: 20px;
}

header{
  width: 100%;
  height: 150px;
  display: inline-block;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
}
.topinfo{
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 10px 0;
  z-index: 999;
/*  align-items: center;
  justify-content: center;  */
  background: ghostwhite;
}
.topinfo div{
  display: flex;
  align-items: center;
  flex-direction:column;
/*  justify-content: center;
  flex-wrap: wrap; */
  margin: 0 auto;
}
.topinfo img{
  height: 80px;
  cursor: pointer;
}
.topinfo img:hover{
  transform: scale(1.15, 1.15);
}
.topinfo h2{
  font-style: italic;
  color: goldenrod;
}
.topinfo p{
  margin-bottom: 0;
}

/*menu */
.nav-pc{
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
.nav-pc ul{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-pc ul li{
  width: auto;
  padding: 0 7px;
  display: inline-flex;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
.nav-pc ul li:hover{
  transform: scale(1.1);
}
.nav-pc ul li a{
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
}

/*menu para movil*/
.nav-box-mobile{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 990;
  background: black;
}
.hamb-con{
  width: auto;
  height: auto;
  margin-left: 15px;
  z-index: 6;
}
.nav-box-mobile i{
  font-size: 2em;
  color: #FFF;
}

/*lo que despliega el menu hamb*/
.oculto{
  width: 100%;
  height: auto;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transform: translate(0,-800px);
  transition: all .7s ease-in-out;
  z-index: 5;
  padding-bottom: 15px;
}
/*efecto al tener active vuelve a top: 0*/
.oculto.active{
  transform: translate(0,0);
}
.oculto nav{
  width: 100%;
  height: auto;
  margin: 45px auto 0 auto;
}
.oculto nav ul{
  max-width: 60%;
  height: 240px;
  margin: 0 auto;
  list-style: none;
}
.oculto nav ul li{
  height: 20%;
  list-style: none;
  border-bottom: 1.5px solid goldenrod;
}
.oculto nav ul li a{
  font-size: 1.5em;
  line-height: 2em;
  color: #fff;
  text-decoration: none;
}

/* main */
main{
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 150px;
  z-index: 2;
}

.welcome{
  width: auto;
  padding: 100px 10%;
/*  background: radial-gradient(circle, rgba(184,134,11,0.95) 30%, rgba(218,165,32,0.8) 100%), url(../img/fondo-welcome.jpg) center center / cover no-repeat fixed goldenrod; */
  background: radial-gradient(circle, rgba(178,34,34,0.8) 30%, rgba(139,0,0,0.8) 100%), url(../img/fondo-welcome.jpg) center center / cover no-repeat fixed firebrick;
  color: white;
}
.grafico{
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
}
.grafico h3{
  color: olive;
}
.graficosample{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.graficosample div{
  width: 250px;
  margin: 10px;
  outline: solid 1px olive;
}
.graficosample img{
  width: 100%;
}
.graficosample p{
  color: #fff;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 0;
  background-color: olive;
  line-height: 40px;
}
.web{
  width: 100%;
  display: flex;
  padding: 100px 10%;
  background: darkcyan;
  color: white;
  margin-top: 40px;
  box-sizing: border-box;
}
.webdescr{
  min-width: 250px;
  height: auto;
}
.webdescr ul li{
  font-size: .9em;
  list-style-position: inside;
}
.webimage{
  width: 300px;
  height: auto;
  display: flex;
  flex-shrink: 0;
  background: url(../img/adi-web.jpg) top center / contain no-repeat local transparent;
}

/* About Us */
.aboutus{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: inline-flex;
}
.aboutus div{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.abouttext{
  background: peru;
  padding: 0 5%;
  box-sizing: border-box;
}
.abouttext h2:last-of-type{
  padding-top: 40px;
}
.proposito{
  width: 100%;
  height: auto;
  background: top center / cover no-repeat local transparent;
}
 /*testimonials*/
 .opiniones{
   width: 100%;
   background: #37474F;
 }
 .comentarios{
   color: ghostwhite;
   width: 80%;
   height: auto;
   margin: 0 auto;
   padding: 5% 0;
 }
 .commentSlider{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }
 .commentSlider div{
   width: 250px;
   margin: 10px;
   background: #546E7A;
   display: inline-flex;
   flex-direction: column;
   outline: solid 1px ghostwhite;
 }
 .commentSlider div:hover{
   background: #6691B2;
   outline: solid 1px peru;
   box-shadow: 0px 0px 10px peru;
 }
 .commentSlider img{
   width: 70%;
   margin: 0 auto;
   border-radius: 100px;
   border: dashed 2px #111827;
 }
 .commentSlider h3, q{
   margin: 1em 0 0.5em;
   text-align: center;
 }
 .commentSlider h3{
   color: #111827;
 }

 .commentSlider p{
   color:ghostwhite;
   text-align: right;
   padding-right: 5px;
   margin-bottom: 0;
   background-color: #111827;
   line-height: 40px;
 }


/* footer */
footer{
  width: 100%;
  color: #fff;
  background: goldenrod;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
footer div{
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.contact{
  display: flex;
  text-align: center;
}
.contact p{
  margin-bottom: 0;
}
.social{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social h3{
  margin-bottom: 0;
  text-align: center;
}
.social ul{
  width: 250px;
  list-style: none;
  margin: 0 auto;
  margin: 10px 0;
}
.social ul li{
  text-align: center;
  margin: 0 auto;
  width: 150px;
}
.social ul li a{
  color: #FFF;
  text-decoration: none;
  transition: .1s;
}
.social ul li:hover{
  color: red;
  transform: scale(1.15 , 1.15);
}

.copy{
  display: flex;
  flex-direction: column;
}
footer img{
  margin-top: 10px;
  width: 80px;
}

@media screen and (max-width: 670px){
  .nav-pc ul li{
    padding: 0 10px;
  }
  .nav-pc ul li a{
    font-size: 1em;
  }
  .web{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
  }
  .webimage{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: inline-block;
  }
  .nav-pc{
    display: none;
  }
  .oculto, .nav-box-mobile{
  }
  /*desaparecer span.back*/
  .back{
    display: none;
  }
  .aboutus{
    flex-direction: column-reverse;
  }
  .aboutus div{
    width: 100%;
  }
  .abouttext{
    padding: 20% 5%;
  }
}
  @media screen and (min-width: 671px){
  .welcome{
    padding: 100px 20%;
  }
  .webdescr{
  padding-right: 20px;
  }
  /*ocultar menu de movil*/
  .oculto, .nav-box-mobile{
    display: none;
  }
}

/*movil*/
@media screen and (max-width: 360px){
  .nav-pc{
    display: none;
  }
  /*desaparecer span.back*/
  .back{
    display: none;
  }
}
