/*font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/*Reset*/
*{
  margin: 0;
  border: 0;
  padding: 0;
  transition: all 1s ease;
  /* outline: solid 1px red; */
}
/* Global */
body{
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  background: ghostwhite;
}
p{
  font-size: .95em;
  margin-bottom: 10px;
}
h1{
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
h2{
  font-size: 1.4em;
  margin-bottom: 20px;

}
h3{
  font-size: 1.2em;
  margin-bottom: 20px;
}

header{
  width: 100%;
  height: 150px;
  display: inline-block;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
}

.topinfo{
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 10px 0;
  z-index: 999;
/*  align-items: center;
  justify-content: center;  */
  background: ghostwhite;
}
.topinfo div{
  display: flex;
  align-items: center;
  flex-direction:column;
/*  justify-content: center;
  flex-wrap: wrap; */
  margin: 0 auto;
}
.topinfo img{
  height: 80px;
  cursor: pointer;
}
.topinfo img:hover{
  transform: scale(1.15, 1.15);
}
.topinfo span{
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  color: goldenrod;
}
.topinfo p{
  margin-bottom: 0;
}

/*menu */
.nav-pc{
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
.nav-pc ul{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-pc ul li{
  width: auto;
  padding: 0 7px;
  display: inline-flex;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
.nav-pc ul li:hover{
  transform: scale(1.1);
}
.nav-pc ul li a{
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
}
.nav-pc ul li a.active{
  color: goldenrod;
}
/*menu para movil*/
.nav-box-mobile{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 990;
  background: black;
}
.hamb-con{
  width: auto;
  height: auto;
  margin-left: 15px;
  z-index: 6;
}
.nav-box-mobile i{
  font-size: 2em;
  color: #FFF;
}

/*lo que despliega el menu hamb*/
.oculto{
  width: 100%;
  height: auto;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transform: translate(0,-800px);
  transition: all .7s ease-in-out;
  z-index: 5;
  padding-bottom: 15px;
}

/*efecto al tener active vuelve a top: 0*/
.oculto.active{
  transform: translate(0,0);
}
.oculto nav{
  width: 100%;
  height: auto;
  margin: 45px auto 75% auto;
}
.oculto nav ul{
  max-width: 60%;
  height: 240px;
  margin: 0 auto;
  list-style: none;
}
.oculto nav ul li{
  height: 20%;
  list-style: none;
  border-bottom: 1.5px solid goldenrod;
}
.oculto nav ul li a{
  font-size: 1.2em;
  line-height: 2.5em;
  color: #fff;
  text-decoration: none;
}
.oculto nav ul li a.active{
  color: goldenrod;
}

/* main */
main{
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 150px;
  z-index: 2;
}

/* Bienvenida */
.bienvenida{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  color: ghostwhite;
}

/*
  width: auto;
  padding: 10%;
*/
/*
  background: radial-gradient(circle, rgba(184,134,11,0.95) 30%, rgba(218,165,32,0.8) 100%), url(../img/fondo-welcome.jpg) center center / cover no-repeat fixed goldenrod;
*/
/*
  background: radial-gradient(circle, rgba(178,34,34,0.8) 30%, rgba(139,0,0,0.8) 100%), url(../img/fondo-welcome.jpg) center center / cover no-repeat fixed firebrick;
  color: ghostwhite;
*/

.bienvenida figure,article{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.saludo{
  background: firebrick;
  padding: 5% 5% 7%;
}
.saludo h1{
  margin-bottom: 2%;
}

/*
.saludoPortada{
  background: rgb(178,34,34);
  background: linear-gradient(90deg, rgba(178,34,34,0.99) 0%, rgba(178,34,34,0.7) 50%);
}*/

.saludoPortada img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  box-sizing: content-box;
}

/*
.saludoPortada img{
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(rgba(178,34,34,0.8) 30%, rgba(139,0,0,0.8) 100%), url("../img/fondo-bienvenida.jpg") center center / cover no-repeat fixed firebrick;
}

/* Diseño Grafico */
.grafico{
  width: auto;
  padding: 5% 10%;
}
.grafico h1{
  color: olive;
}
.graficosample{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.graficosample div{
  width: 250px;
  margin: 10px;
  outline: solid 1px olive;
}
.graficosample img{
  width: 100%;
  height: auto;
}
.graficosample p{
  color: olive;
  text-align: center;
  margin-bottom: 0;
  outline: solid 1px olive;
  line-height: 40px;
}
.graficosample p:hover{
  background: olive;
  color: ghostwhite;
}

/* Desarrollo Web */
.web{
  width: 100%;
  display: flex;
  padding: 100px 10%;
  background: darkcyan;
  color: ghostwhite;
  box-sizing: border-box;
}
.webdescr{
  min-width: 250px;
  height: auto;
}

.webdescr ul li{
  font-size: .9em;
  list-style-position: inside;
}
.webimage{
  width: 300px;
  height: auto;
  display: flex;
  flex-shrink: 0;
  background: url(../img/adi-web.jpg) top center / contain no-repeat local transparent;
}

/* About Us */
.aboutus{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.aboutus div{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
/* Arreglar el falso full height de la imagen*/

.portadaAbout img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: peru;
}
.aboutText{
  background: peru;
  padding: 5%;
}
.aboutText h1{
  margin-bottom: 2%;
}
.aboutText h1:last-of-type{
  padding-top: 5%;
}

/*
.aboutus{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: inline-flex;
}
.aboutus div{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.abouttext{
  background: peru;
  padding: 0 5%;
  box-sizing: border-box;
}
.abouttext h1{
  margin-bottom: 0;
}
.abouttext h1:last-of-type{
  padding-top: 50px;
}
.proposito{
  width: 100%;
  height: auto;
  background: top center / cover no-repeat local peru;
}
*/

/*testimonials*/
.opiniones{
 width: 100%;
 padding: 5% 0;
 background: #37474F;
}
.comentarios, .commentSlider{
 width: 80%;
 height: auto;
 margin: 0 auto;
 color: ghostwhite;
}
.commentSlider{
 padding-top: 3%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
.commentSlider div{
 width: 250px;
 height: 100%;
 margin: 20px;
 background: #668888;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 outline: solid 1px ghostwhite;
}
.commentSlider div:hover{
   background: cadetblue;
   box-shadow: 0px 0px 10px #6691B2;
}
.commentSlider img{
 width: 75%;
 margin: 1em auto;
 border-radius: 100%;
 border: solid 1px #111827;
}
.commentSlider>h3{
 margin: 1em 0;
 text-align: center;
 height: 50px;
 color: #111827;
}
/* Hover alargar, para que funcione ambos deben usar max-height */
.commentSlider q{
  max-height: 0px;
  margin: .5em;
  font-size: .9em;
  text-align: justify;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.commentSlider div:hover q{
  max-height: 300px;
}
/* Hover alargar */

.commentSlider p{
  display: inline-flex;
  justify-content: space-between;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 0;
  background-color: #111827;
  line-height: 40px;
}
.commentSlider i{
  text-align: left;
  padding-left: 15px;
  margin-bottom: 0;
  line-height: 40px;
}

/* Portafolio*/
.portafolio{
  width: 100%;
  padding: 5% 0;
  background: #2C3E50;
}
.portTitulo{
  color: ghostwhite;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 0 0 50px;
}
.portProyectos{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.portProyectos div{
  width: 80%;
  margin: 15px;
  background: ghostwhite;
  flex-direction: column;
  outline: solid 1px black;
}
.portProyectos div:hover{
  background: peru;
  outline: solid 1px peru;
  box-shadow: 0px 0px 10px peru;
}
.portProyectos img{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.portProyectos p{
  margin-bottom: 0;
  text-align: center;
  font-size: 1em;
  line-height: 40px;
}

/* Blog */
.blog{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
}
.entradaNueva, .portadaEntrada0{
  width: 50%;
  height: auto;
  background: darkcyan;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.entradaNueva{
  padding: 5%;
  color: navajowhite;
  justify-content: center;
}
.entradaNueva a:first-of-type{
  margin-bottom: 5%;
}
.entradaNueva>h2{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: ghostwhite;
}
.entradaNueva a{
  text-align: right;
  text-decoration: none;
  color: black;
}
.entradaNueva a:hover{
  color: ghostwhite;
  text-shadow: 3px 3px 5px black;
}
.portadaEntrada0 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: darkcyan;
  /*
  background: url("../img/blog.jpg") center center / cover no-repeat fixed darkcyan;
  */
}
.tituloBlog{
  width: 100%;
  background: navajowhite;
  padding: 50px 0 10px;
}
.entradaAntes{
  width: 100%;
  height: 100%;
  outline: 3px solid navajowhite;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.entradaAntes div{
  height: 150px;
  display: flex;
  box-sizing: border-box;
}
.entradaAntes img{
  width: 100%;
  max-height: auto;
  object-fit: cover;
/*  margin: 0 auto; */
  background: ghostwhite;
  box-sizing: border-box;
}
.entradaTexto{
  width: 65%;
  height: auto;
  padding: 3%;
  background: ghostwhite;
  flex-direction: column;
  justify-content: center;
}
.entradaTexto h2, a{
  font-family: 'Open Sans', sans-serif;
  color: darkcyan;
}
.entradaTexto a{
  align-self: flex-end;
  text-decoration: none;
}
/* Imagenes pequeñas en parallax */
.portadaEntrada1,.portadaEntrada2,.portadaEntrada3{
  width: 35%;
  height: auto;
/*  background: url("../img/blog-2.jpg") center center / cover no-repeat fixed navajowhite;  */
}
/* center / right contain para pc */
/* center center / cover para mobil */


/* entradas de blog*/
.blogEntradas{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.entradaBlog, .portadaBlog{
  width: 100%;
  height: auto;
  background: ghostwhite;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
/* Tiene cambio en Media */
.portadaBlog, .portadaBlogLettering{
  width: auto;
  max-height: 25em;
}
.portadaBlog img{
  width: 100%;
  height: auto;
  object-fit: cover;
  box-sizing: border-box;
}
.portadaBlogLettering img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0 10%;
  box-sizing: border-box;
}

.entradaBlog h1{
  margin-bottom: 0;
  margin-top: 5%;
}
.entradaBlog h1, h2{
  font-family: 'EB Garamond', serif;
  text-align: left;
  color: goldenrod;
}

h1 + h2{
  margin: 0;
}
hr{
  margin: 3% 0;
  border-top: 1px solid darkcyan;
}
.entradaBlog{
  width: 80%;
  margin: 0 auto;
  padding: 0 10%;
}
.entradaBlog ul{
  padding-left: 5%;
}
.entradaBlog ul li{
  font-size: 0.9em
}
.imagenesBlog{
  width: auto;
  min-height: 10px;
  margin: 2em 0 ;
  box-shadow: 1px 1px 5px gray;
  align-self: center;
}
.imagenesBlog:last-of-type{
  margin-bottom: 2em;
}
.imagenesBlog img{
  display: flex;
  width: 100%;
  height: auto;
}
.entradaBlog span{
  font-family: 'EB Garamond', serif;
  font-size: 1.2em;
  text-align: right;
  padding: 3% 0 0;
  color: darkcyan;
  font-weight: bolder;
}
.masEntradas{
  height: auto;
  margin: 0 auto;
}
.masEntradas h1{
  width: 80%;
  font-size: 1.5em;
  margin: 0 auto;
  color: darkcyan;
}
.masEntradas ul{
  width: 80%;
  height: 60px;
  margin: 0 auto 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.masEntradas ul li{
  width: auto;
  display: inline-flex;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.masEntradas ul li a{
  text-decoration: none;
}
ul.listaEntradas li+li:before {
  padding: 0 20px;
  color: darkcyan;
  content: "/\00a0";
}



/*
*{
  outline: solid 1px red;
}

/* footer */
footer{
  width: 100%;
  color: ghostwhite;
  background: goldenrod;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer div{
  padding: 25px 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.contact, .social, .copy{
  width: 200px;
  color: ghostwhite;
  display: flex;
  flex-direction: column;
}
footer p,h3{
  margin: 0;
  text-align: center;
}
footer img{
  margin-top: 5px;
  width: 80px;
}
.social ul{
  list-style: none;
  margin: 0 auto;
}
.social ul li{
  text-align: center;
  width: 150px;
}
.social ul li a{
  text-decoration: none;
  color: ghostwhite;
  transition: .1s;
}
.social ul li:hover{
  color: red;
  transform: scale(1.15 , 1.15);
}

/* Media */

@media screen and (max-width: 670px){
  .nav-pc ul li{
    padding: 0 10px;
  }
  .nav-pc ul li a{
    font-size: 1em;
  }
  .bienvenida{
    flex-direction: column-reverse;
  }
  .bienvenida figure,article{
    width: 100%;
  }
  .saludo{
    padding: 10% 5%;
  }
  .web{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
  }
  .webimage{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: inline-block;
  }
  .nav-pc{
    display: none;
  }
  .oculto, .nav-box-mobile{
  }

  /* desaparecer span.back */
  .back{
    display: none;
  }
  .aboutus{
    flex-direction: column;
  }
  .aboutus div{
    width: 100%;
  }
  .abouttext{
    padding: 20% 5%;
  }
  .blog{
    flex-direction: column-reverse;
  }
  .entradaNueva{
    padding: 10%;
    width: 100%;
  }
  .portadaEntrada0{
    width: 100%;
  }
  .entradaAntes{
    flex-direction: column-reverse;
  }
  .entradaAntes div{
    height: auto;
    width: 100%;
  }
  .entradaTexto{
    padding: 5%;
  }
  .entradaBlog{
    padding: 5%;
    width: 100%;
  }
  .portadaBlog{
    width: 100%;
  }
}

@media screen and (min-width: 671px){
  .webdescr{
  padding-right: 20px;
  }

  /*ocultar menu de movil*/
  .oculto, .nav-box-mobile{
    display: none;
  }
  .portProyectos div{
    width: 30%;
    margin: 15px;
  }
  .portProyectos p{
    font-size: 0.9em;
  }
  .portadaEntrada1 img{
    background: url("../img/blog-2.jpg") center right / contain no-repeat fixed navajowhite;
  }
  .portadaEntrada2 img{
    background: url("../img/blog-3.jpg") center right / contain no-repeat fixed navajowhite;
  }
  .portadaEntrada3 img{
    background: url("../img/blog.jpg") center right / contain no-repeat fixed navajowhite;
  }
  .portadaBlog, .portadaBlogLettering{
    height: 20em;
  }
  .portadaBlog img, .portadaBlogLettering img{
    height: 100%;
  }
}

/*movil*/
@media screen and (max-width: 360px){
  .nav-pc{
    display: none;
  }
  /*desaparecer span.back*/
  .back{
    display: none;
  }
}
